<h2>Partenaires</h2>

<mat-card>
  <table mat-table [dataSource]="partenaires" class="mat-elevation-z8" style="width:100%">

    <!-- Identifiant Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Identifiant </th>
      <td mat-cell *matCellDef="let partenaire"> {{partenaire.id}} </td>
    </ng-container>

    <!-- Alias Column -->
    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef> Alias </th>
      <td mat-cell *matCellDef="let partenaire"> {{partenaire.alias}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let partenaire"> {{partenaire.type}} </td>
    </ng-container>

    <!-- Direction Column -->
    <ng-container matColumnDef="direction">
      <th mat-header-cell *matHeaderCellDef> Direction </th>
      <td mat-cell *matCellDef="let partenaire"> {{partenaire.direction}} </td>
    </ng-container>

    <!-- Application Column -->
    <ng-container matColumnDef="application">
      <th mat-header-cell *matHeaderCellDef> Application </th>
      <td mat-cell *matCellDef="let partenaire"> {{partenaire.application}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let partenaire">
        <button mat-icon-button color="warn" (click)="onDelete(partenaire); $event.stopPropagation()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let partenaire; columns: displayedColumns;"
        (click)="openDetailsDialog(partenaire)"
        style="cursor: pointer;"></tr>
  </table>

  <!-- Button Section -->
  <div style="margin-top: 16px; text-align: center;">
    <button mat-raised-button color="primary" (click)="openAddPartnerDialog()">
      add Partenaire
    </button>
  </div>
</mat-card>



