/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Success Snackbar */
.success-snackbar {
  --mdc-snackbar-container-color: rgba(96, 110, 198, 0.93);
  --mdc-snackbar-supporting-text-color: #fff;
  font-weight: bold;
}

/* Error Snackbar */
.error-snackbar {
  --mdc-snackbar-container-color: #f12424;
  --mdc-snackbar-supporting-text-color: #fff;
  font-weight: bold;
}
