/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*.mdc-snackbar.success-snackbar .mdc-snackbar__surface  {
  background-color: rgba(96, 110, 198, 0.93);
  color: #fff;
  font-weight: bold;
}

.mdc-snackbar.success-snackbar .mdc-snackbar__action .mdc-button__label {
  color: #fff;
}


.mdc-snackbar.error-snackbar .mdc-snackbar__surface  {
  background-color: rgba(248, 19, 19, 0.82);
  color: #fff;
  font-weight: bold;
}

.mdc-snackbar.error-snackbar .mdc-snackbar__action .mdc-button__label {
  color: #fff;
} */
.success-snackbar {
  --mdc-snackbar-container-color: rgba(96, 110, 198, 0.93);
  --mdc-snackbar-supporting-text-color: #fff;
  --mdc-snackbar-action-color: #fff; /* works if MDC version supports it */
  font-weight: bold;
}

/* Fallback for MDC versions where the variable doesn’t affect the button */
.success-snackbar .mdc-button {
  color: #fff !important;
}

.error-snackbar {
  --mdc-snackbar-container-color: rgb(243, 5, 5);
  --mdc-snackbar-supporting-text-color: #fff;
  --mdc-snackbar-action-color: #fff;
  font-weight: bold;
}

.error-snackbar .mdc-button {
  color: #fff !important;
}






