/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  background-color: #4CAF50; /* Material green */
  color: #fff;              /* White text */
  font-weight: bold;
}

.snackbar-error {
  background-color: #F44336; /* Material red */
  color: #fff;
  font-weight: bold;
}
